.modal-box {
    min-height: 200px;
    width: 100%;
    max-width: 650px;
    background: rgb(255, 251, 251);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 40px;
}