<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">Create a New List</h1>

        <div class="field is-grouped">
            <p class="control is-expanded">
                <input #listTitleInput class="input" type="text" placeholder="Type Text Here">
            </p>
            <p class="control">
                <a class="button is-primary" (click)="createList(listTitleInput.value)">
                Create New
              </a>
            </p>
        </div>
        <button class="button" routerLink="/">Go Back</button>
    </div>
</div>